# Pandas
* kütüphanenin eklenmesi
* veri okuma
* veri keşfetme
    - head
    - tail
    - describe
    - info
    - dtype
    - index
    - columns
* verilere erişim
    - sütun bazlı erişim
    - loc
    - iloc
* veriyi süzmek
* veriyi gruplamak

## Kütüphanenin eklenmesi
- Kurulum için %pip install pandas
- Eklemek için import pandas as pd

In [2]:
import pandas as pd

## Veri Okuma
- csv için read_csv
- xls için read_excel

In [3]:
df = pd.read_csv(r"D:\Projelerim\DLIntro\data\sample.csv") # delimiter=";",header=None

## veri keşfetme
- head
- tail
- describe
- info
- dtype
- index
- columns

### head => ilk 5 satır

In [4]:
df.head()

        Ulke Cinsiyet    Gelir   Yas  MemTip
0        NaN    Kadın  20000.0   NaN       1
1        NaN    Erkek  15000.0  32.0       2
2  İngiltere      NaN  23000.0   NaN       3
3    Turkiye    Kadın  20000.0  45.0       1
4     Fransa    Erkek  15000.0  23.0       2

### tail => son beş satır

In [5]:
df.tail()

         Ulke Cinsiyet    Gelir   Yas  MemTip
11  İngiltere      NaN  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1

### describe => Descriptive Statistics 
=> tanımmlayıcı istatistikler sadece sayısal değer barındıran sütunlar için

In [6]:
df.describe()

              Gelir        Yas     MemTip
count     15.000000  12.000000  16.000000
mean   20200.000000  33.416667   1.750000
std     3051.931473  12.536915   0.856349
min    15000.000000  12.000000   1.000000
25%    19000.000000  29.750000   1.000000
50%    22000.000000  32.000000   1.500000
75%    22500.000000  45.000000   2.250000
max    23000.000000  46.000000   3.000000

### dtypes => veri tiplerinin listelenmesi

In [7]:
df.dtypes

Ulke         object
Cinsiyet     object
Gelir       float64
Yas         float64
MemTip        int64
dtype: object

### info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ulke      11 non-null     object
 1   Cinsiyet  12 non-null     object
 2   Gelir     15 non-null     float64
 3   Yas       12 non-null     float64
 4   MemTip    16 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 768.0+ bytes

In [9]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [10]:
df.columns

Index(['Ulke', 'Cinsiyet', 'Gelir', 'Yas', 'MemTip'], dtype='object')

In [11]:
df.columns = ['Ulke', 'Cinsiyet', 'Gelir', 'Yas', 'Uyelik Tip']

In [12]:
df

         Ulke Cinsiyet    Gelir   Yas  Uyelik Tip
0         NaN    Kadın  20000.0   NaN           1
1         NaN    Erkek  15000.0  32.0           2
2   İngiltere      NaN  23000.0   NaN           3
3     Turkiye    Kadın  20000.0  45.0           1
4      Fransa    Erkek  15000.0  23.0           2
5         NaN      NaN  23000.0  12.0           3
6     Almanya    Kadın  20000.0  45.0           1
7     Turkiye    Erkek  18000.0   NaN           2
8   İngiltere      NaN  23000.0  12.0           3
9     Almanya    Kadın      NaN  45.0           1
10  Avusturya    Kadın  15000.0  46.0           2
11  İngiltere      NaN  23000.0   NaN           3
12    İspanya    Erkek  22000.0  32.0           1
13        NaN    Erkek  22000.0  32.0           1
14    İspanya    Erkek  22000.0  32.0           1
15        NaN    Erkek  22000.0  45.0           1

In [13]:
df.to_csv("ornek.csv")

* verilere erişim
    - sütun bazlı erişim
    - loc
    - iloc

In [14]:
df.Yas.head()

0     NaN
1    32.0
2     NaN
3    45.0
4    23.0
Name: Yas, dtype: float64

In [15]:
df["Uyelik Tip"].tail()

11    3
12    1
13    1
14    1
15    1
Name: Uyelik Tip, dtype: int64

loc ve iloc

In [16]:
meyveler = pd.Series(["elma","armut","karpuz","kavun","portakal","kiraz"],index=[0,3,9,8,67,3])
meyveler

0         elma
3        armut
9       karpuz
8        kavun
67    portakal
3        kiraz
dtype: object

In [17]:
meyveler.loc[3]

3    armut
3    kiraz
dtype: object

In [18]:
meyveler.iloc[3]

'kavun'

In [21]:
df.loc[0] # satır,sütun

Ulke              NaN
Cinsiyet        Kadın
Gelir         20000.0
Yas               NaN
Uyelik Tip          1
Name: 0, dtype: object

In [23]:
df.loc[0,"Cinsiyet"]

'Kadın'

In [24]:
df.iloc[0,1]

'Kadın'

In [26]:
df.iloc[0:4,0:2]

        Ulke Cinsiyet
0        NaN    Kadın
1        NaN    Erkek
2  İngiltere      NaN
3    Turkiye    Kadın

In [28]:
df.loc[0:4,["Ulke","Cinsiyet"]]

        Ulke Cinsiyet
0        NaN    Kadın
1        NaN    Erkek
2  İngiltere      NaN
3    Turkiye    Kadın
4     Fransa    Erkek

In [31]:
df.iloc[:4,:2]

        Ulke Cinsiyet
0        NaN    Kadın
1        NaN    Erkek
2  İngiltere      NaN
3    Turkiye    Kadın

In [40]:
liste = [0,1,2,3,4,5,6]
#        0 1 2 3 4 5 6
#       -7-6-5-4-3-2-1
# liste[::-1]

[6, 5, 4, 3, 2, 1, 0]

In [33]:
liste[6]

6

In [36]:
liste[-2:]

[5, 6]

In [39]:
df.iloc[:,:]

         Ulke Cinsiyet    Gelir   Yas  Uyelik Tip
0         NaN    Kadın  20000.0   NaN           1
1         NaN    Erkek  15000.0  32.0           2
2   İngiltere      NaN  23000.0   NaN           3
3     Turkiye    Kadın  20000.0  45.0           1
4      Fransa    Erkek  15000.0  23.0           2
5         NaN      NaN  23000.0  12.0           3
6     Almanya    Kadın  20000.0  45.0           1
7     Turkiye    Erkek  18000.0   NaN           2
8   İngiltere      NaN  23000.0  12.0           3
9     Almanya    Kadın      NaN  45.0           1
10  Avusturya    Kadın  15000.0  46.0           2
11  İngiltere      NaN  23000.0   NaN           3
12    İspanya    Erkek  22000.0  32.0           1
13        NaN    Erkek  22000.0  32.0           1
14    İspanya    Erkek  22000.0  32.0           1
15        NaN    Erkek  22000.0  45.0           1

In [47]:
list(df.columns)

['Ulke', 'Cinsiyet', 'Gelir', 'Yas', 'Uyelik Tip']

In [50]:
df.columns = [item.replace(" ","_") for item in df.columns]

In [53]:
df["Etiket"] = df.Yas**2
df

         Ulke Cinsiyet    Gelir   Yas  Uyelik_Tip  Etiket
0         NaN    Kadın  20000.0   NaN           1     NaN
1         NaN    Erkek  15000.0  32.0           2  1024.0
2   İngiltere      NaN  23000.0   NaN           3     NaN
3     Turkiye    Kadın  20000.0  45.0           1  2025.0
4      Fransa    Erkek  15000.0  23.0           2   529.0
5         NaN      NaN  23000.0  12.0           3   144.0
6     Almanya    Kadın  20000.0  45.0           1  2025.0
7     Turkiye    Erkek  18000.0   NaN           2     NaN
8   İngiltere      NaN  23000.0  12.0           3   144.0
9     Almanya    Kadın      NaN  45.0           1  2025.0
10  Avusturya    Kadın  15000.0  46.0           2  2116.0
11  İngiltere      NaN  23000.0   NaN           3     NaN
12    İspanya    Erkek  22000.0  32.0           1  1024.0
13        NaN    Erkek  22000.0  32.0           1  1024.0
14    İspanya    Erkek  22000.0  32.0           1  1024.0
15        NaN    Erkek  22000.0  45.0           1  2025.0

In [56]:
# df.iloc[range(0,df.shape[0],2)]

         Ulke Cinsiyet    Gelir   Yas  Uyelik_Tip  Etiket
0         NaN    Kadın  20000.0   NaN           1     NaN
2   İngiltere      NaN  23000.0   NaN           3     NaN
4      Fransa    Erkek  15000.0  23.0           2   529.0
6     Almanya    Kadın  20000.0  45.0           1  2025.0
8   İngiltere      NaN  23000.0  12.0           3   144.0
10  Avusturya    Kadın  15000.0  46.0           2  2116.0
12    İspanya    Erkek  22000.0  32.0           1  1024.0
14    İspanya    Erkek  22000.0  32.0           1  1024.0

In [55]:
df.shape

(16, 6)

### Veriyi Süzmek

In [58]:
df = pd.read_csv(r"E:\Projelerim\IntroductionDL_1408\Datasets\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [60]:
df.shape

(769, 9)

In [63]:
df[df["Age"]>50]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0.0,0.232,54,1
13,10,139,80,0,0,27.1,1.441,57,0
14,1,189,60,23,846,30.1,0.398,59,1
15,5,166,72,19,175,25.8,0.587,51,1
...,...,...,...,...,...,...,...,...,...
720,5,97,76,27,0,35.6,0.378,52,1
735,2,105,75,0,0,23.3,0.560,53,0
758,0,123,72,0,0,36.3,0.258,52,1
760,6,190,92,0,0,35.5,0.278,66,1
764,10,101,76,48,180,32.9,0.171,63,0

In [65]:
sart = (df["Age"]>50) & (df["Pregnancies"]>2)
df[sart]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
10,8,125,96,0,0,0.0,0.232,54,1
13,10,139,80,0,0,27.1,1.441,57,0
15,5,166,72,19,175,25.8,0.587,51,1
25,11,143,94,33,146,36.6,0.254,51,1
29,13,145,82,19,110,22.2,0.245,57,0
...,...,...,...,...,...,...,...,...,...
685,5,136,82,0,0,0.0,0.640,69,0
718,10,94,72,18,0,23.1,0.595,56,0
720,5,97,76,27,0,35.6,0.378,52,1
760,6,190,92,0,0,35.5,0.278,66,1
764,10,101,76,48,180,32.9,0.171,63,0

In [69]:
df.sort_values(by="Pregnancies",ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
160,17,163,72,41,114,40.9,0.817,47,1
89,15,136,70,32,110,37.1,0.153,43,1
299,14,100,78,25,184,36.6,0.412,46,1
456,14,175,62,30,0,33.6,0.212,38,1
692,13,158,114,0,0,42.3,0.257,44,1
...,...,...,...,...,...,...,...,...,...
291,0,78,88,29,40,36.9,0.434,21,0
292,0,107,62,30,74,36.6,0.757,25,1
448,0,95,80,45,92,36.5,0.330,26,0
295,0,161,50,0,0,21.9,0.254,65,0
467,0,74,52,10,36,27.8,0.269,22,0

In [71]:
df.Age.unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [88]:
df.groupby("Age")["Pregnancies"].sum()

Age
21     68
22    112
23     60
24     87
25     85
26     65
27     82
28    106
29     96
30     76
31     93
32     71
33     69
34     82
35     50
36     83
37    100
38    110
39     89
40     81
41    143
42    124
43    101
44     58
45    110
46     83
47     50
48     44
49     38
50     60
51     69
52     37
53     27
54     42
55     22
56     24
57     44
58     50
59      7
60     30
61     11
62     15
63     22
64      8
65     10
66     20
67     12
68      8
69     10
70      4
72      2
81      9
Name: Pregnancies, dtype: int64

In [80]:
df.groupby(["Age","Pregnancies"])["Outcome"].max()

Age  Pregnancies
21   0              1
     1              1
     2              1
     3              0
     4              0
                   ..
68   8              0
69   5              0
70   4              1
72   2              0
81   9              0
Name: Outcome, Length: 292, dtype: int64

In [84]:
diabetista = df.groupby(["Age","Pregnancies"])["Outcome"].agg([len,sum])

In [85]:
diabetista.index

MultiIndex([(21, 0),
            (21, 1),
            (21, 2),
            (21, 3),
            (21, 4),
            (22, 0),
            (22, 1),
            (22, 2),
            (22, 3),
            (22, 4),
            ...
            (66, 2),
            (66, 6),
            (67, 0),
            (67, 4),
            (67, 8),
            (68, 8),
            (69, 5),
            (70, 4),
            (72, 2),
            (81, 9)],
           names=['Age', 'Pregnancies'], length=292)

In [86]:
diabetista.reset_index()

     Age  Pregnancies  len  sum
0     21            0   21    3
1     21            1   23    1
2     21            2   14    1
3     21            3    3    0
4     21            4    2    0
..   ...          ...  ...  ...
287   68            8    1    0
288   69            5    2    0
289   70            4    1    1
290   72            2    1    0
291   81            9    1    0

[292 rows x 4 columns]

In [92]:
diabetista.reset_index(drop=True,inplace=True)

In [93]:
diabetista

     len  sum
0     21    3
1     23    1
2     14    1
3      3    0
4      2    0
..   ...  ...
287    1    0
288    2    0
289    1    1
290    1    0
291    1    0

[292 rows x 2 columns]