# Pandas
* kütüphanenin eklenmesi
* veri okuma
* veri keşfetme
    - head
    - tail
    - describe
    - info
    - dtype
    - index
    - columns
* verilere erişim
    - sütun bazlı erişim
    - loc
    - iloc

## Kütüphanenin eklenmesi
- Kurulum için %pip install pandas
- Eklemek için import pandas as pd

In [1]:
import pandas as pd

## Veri Okuma
- csv için read_csv
- xls için read_excel

In [2]:
df = pd.read_csv(r"D:\Projelerim\DLIntro\data\sample.csv") # delimiter=";",header=None

## veri keşfetme
- head
- tail
- describe
- info
- dtype
- index
- columns

### head => ilk 5 satır

In [3]:
df.head()

        Ulke Cinsiyet    Gelir   Yas  MemTip
0        NaN    Kadın  20000.0   NaN       1
1        NaN    Erkek  15000.0  32.0       2
2  İngiltere      NaN  23000.0   NaN       3
3    Turkiye    Kadın  20000.0  45.0       1
4     Fransa    Erkek  15000.0  23.0       2

### tail => son beş satır

In [5]:
df.tail()

         Ulke Cinsiyet    Gelir   Yas  MemTip
11  İngiltere      NaN  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1

### describe => Descriptive Statistics 
=> tanımmlayıcı istatistikler sadece sayısal değer barındıran sütunlar için

In [6]:
df.describe()

              Gelir        Yas     MemTip
count     15.000000  12.000000  16.000000
mean   20200.000000  33.416667   1.750000
std     3051.931473  12.536915   0.856349
min    15000.000000  12.000000   1.000000
25%    19000.000000  29.750000   1.000000
50%    22000.000000  32.000000   1.500000
75%    22500.000000  45.000000   2.250000
max    23000.000000  46.000000   3.000000

### dtypes => veri tiplerinin listelenmesi

In [7]:
df.dtypes

Ulke         object
Cinsiyet     object
Gelir       float64
Yas         float64
MemTip        int64
dtype: object

### info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ulke      11 non-null     object
 1   Cinsiyet  12 non-null     object
 2   Gelir     15 non-null     float64
 3   Yas       12 non-null     float64
 4   MemTip    16 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 768.0+ bytes

In [9]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [10]:
df.columns

Index(['Ulke', 'Cinsiyet', 'Gelir', 'Yas', 'MemTip'], dtype='object')

In [21]:
df.columns = ['Ulke', 'Cinsiyet', 'Gelir', 'Yas', 'Uyelik Tip']

In [23]:
df

         Ulke Cinsiyet    Gelir   Yas  Uyelik Tip
0         NaN    Kadın  20000.0   NaN           1
1         NaN    Erkek  15000.0  32.0           2
2   İngiltere      NaN  23000.0   NaN           3
3     Turkiye    Kadın  20000.0  45.0           1
4      Fransa    Erkek  15000.0  23.0           2
5         NaN      NaN  23000.0  12.0           3
6     Almanya    Kadın  20000.0  45.0           1
7     Turkiye    Erkek  18000.0   NaN           2
8   İngiltere      NaN  23000.0  12.0           3
9     Almanya    Kadın      NaN  45.0           1
10  Avusturya    Kadın  15000.0  46.0           2
11  İngiltere      NaN  23000.0   NaN           3
12    İspanya    Erkek  22000.0  32.0           1
13        NaN    Erkek  22000.0  32.0           1
14    İspanya    Erkek  22000.0  32.0           1
15        NaN    Erkek  22000.0  45.0           1

In [15]:
df.to_csv("ornek.csv")

* verilere erişim
    - sütun bazlı erişim
    - loc
    - iloc

In [26]:
df.Yas.head()

0     NaN
1    32.0
2     NaN
3    45.0
4    23.0
Name: Yas, dtype: float64

In [27]:
df["Uyelik Tip"].tail()

11    3
12    1
13    1
14    1
15    1
Name: Uyelik Tip, dtype: int64