# Handling Missing Data

In [111]:
import pandas as pd

In [112]:
adres = r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\sample.csv"
df = pd.read_csv(adres)

In [113]:
df.isna().sum()

Ulke        8
Cinsiyet    7
Gelir       4
Yas         5
MemTip      0
dtype: int64

In [114]:
df.isnull().sum()

Ulke        8
Cinsiyet    7
Gelir       4
Yas         5
MemTip      0
dtype: int64

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ulke      16 non-null     object
 1   Cinsiyet  17 non-null     object
 2   Gelir     20 non-null     float64
 3   Yas       19 non-null     float64
 4   MemTip    24 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ KB

## Boş Verilerin Düzeltilmesi İçin
1. Verilerin Silinmesi
2. Impute çalışması

### 1. Verilerin Silinmesi
* satır silme
* sütun silme

In [116]:
adres = r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\sample.csv"
df1 = pd.read_csv(adres)

In [117]:
# df1.dropna(axis=1,inplace=True)
dfTemiz1 = df1.dropna(axis=1) # 1 sütun "columns" 0 satır "rows"

In [118]:
dfTemiz1

    MemTip
0        1
1        2
2        3
3        1
4        2
5        3
6        1
7        2
8        3
9        1
10       2
11       3
12       1
13       1
14       1
15       1
16       3
17       1
18       2
19       3
20       1
21       1
22       1
23       1

In [119]:
adres = r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\sample.csv"
df2 = pd.read_csv(adres)

In [120]:
df2.isna().sum()

Ulke        8
Cinsiyet    7
Gelir       4
Yas         5
MemTip      0
dtype: int64

In [121]:
df2.shape

(24, 5)

In [122]:
dfTemiz2 = df1.dropna(axis=0) # 1 sütun "columns" 0 satır "rows"

In [123]:
dfTemiz2.isna().sum()

Ulke        0
Cinsiyet    0
Gelir       0
Yas         0
MemTip      0
dtype: int64

In [124]:
dfTemiz2.shape

(6, 5)

### 2. Impute İşlemi

* mean
* median
* mode

In [125]:
liste = [1,1,2,2,2,1,1,1,2,2,1,1,3,3,3,3,1,1,2,2,3,3,3,4,4,4,5,5,5,5,]
seri1 = pd.Series(liste)
seri1.mean() # ortalama

2.533333333333333

In [126]:
liste = [1,1,2,3,3,2,5,5,]
seri1 = pd.Series(liste)
seri1.median()

2.5

In [127]:
liste = [1,1,2,3,3,2,5,5,5,3]
seri1 = pd.Series(liste)
seri1.mode()[0]

3

In [128]:
adres = r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\sample.csv"
df3 = pd.read_csv(adres)
df3["Yas"].fillna(df3["Yas"].mean())

0     33.947368
1     32.000000
2     33.947368
3     45.000000
4     23.000000
5     12.000000
6     45.000000
7     33.947368
8     12.000000
9     45.000000
10    46.000000
11    33.947368
12    32.000000
13    32.000000
14    32.000000
15    45.000000
16    12.000000
17    45.000000
18    46.000000
19    33.947368
20    32.000000
21    32.000000
22    32.000000
23    45.000000
Name: Yas, dtype: float64

In [129]:
df["Yas"]

0      NaN
1     32.0
2      NaN
3     45.0
4     23.0
5     12.0
6     45.0
7      NaN
8     12.0
9     45.0
10    46.0
11     NaN
12    32.0
13    32.0
14    32.0
15    45.0
16    12.0
17    45.0
18    46.0
19     NaN
20    32.0
21    32.0
22    32.0
23    45.0
Name: Yas, dtype: float64

In [130]:
df3["Yas"].fillna(df3["Yas"].median())

0     32.0
1     32.0
2     32.0
3     45.0
4     23.0
5     12.0
6     45.0
7     32.0
8     12.0
9     45.0
10    46.0
11    32.0
12    32.0
13    32.0
14    32.0
15    45.0
16    12.0
17    45.0
18    46.0
19    32.0
20    32.0
21    32.0
22    32.0
23    45.0
Name: Yas, dtype: float64

In [131]:
df3["Yas"] = df3["Yas"].fillna(df3["Yas"].mode()[0])

In [132]:
df3.isna().sum()

Ulke        8
Cinsiyet    7
Gelir       4
Yas         0
MemTip      0
dtype: int64

In [133]:
df.isna().sum()

Ulke        8
Cinsiyet    7
Gelir       4
Yas         5
MemTip      0
dtype: int64

In [134]:
df

         Ulke Cinsiyet    Gelir   Yas  MemTip
0         NaN    Kadın  20000.0   NaN       1
1         NaN    Erkek  15000.0  32.0       2
2   İngiltere      NaN  23000.0   NaN       3
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
5         NaN      NaN  23000.0  12.0       3
6     Almanya    Kadın  20000.0  45.0       1
7     Turkiye    Erkek  18000.0   NaN       2
8   İngiltere      NaN  23000.0  12.0       3
9     Almanya    Kadın      NaN  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
11  İngiltere      NaN  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1
16  İngiltere      NaN  23000.0  12.0       3
17    Almanya    Kadın      NaN  45.0       1
18        NaN    Kadın  15000.0  46.0       2
19  İngiltere      NaN      NaN   NaN       3
20    İspanya    Erkek      NaN  32.0       1
21        NaN    Erkek  22000.0  32.0       1
22    İspanya      NaN  22000.0  32.0       1
23        NaN    Erkek  22000.0  45.0       1

* ffill
* bfill

In [135]:
import numpy as np

In [136]:
veri = pd.Series(range(20))
veri.loc[2:4] = np.nan
veri.loc[7:10] = np.nan
veri

0      0.0
1      1.0
2      NaN
3      NaN
4      NaN
5      5.0
6      6.0
7      NaN
8      NaN
9      NaN
10     NaN
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
dtype: float64

In [137]:
veri.fillna(method="ffill")

0      0.0
1      1.0
2      1.0
3      1.0
4      1.0
5      5.0
6      6.0
7      6.0
8      6.0
9      6.0
10     6.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
dtype: float64

In [138]:
veri.fillna(method="bfill")

0      0.0
1      1.0
2      5.0
3      5.0
4      5.0
5      5.0
6      6.0
7     11.0
8     11.0
9     11.0
10    11.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
dtype: float64

In [139]:
veri.interpolate()

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
dtype: float64

### Iterative Imputer

In [140]:
from sklearn.impute import SimpleImputer
adres = r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\sample.csv"
df4 = pd.read_csv(adres)
imputer = SimpleImputer(strategy="most_frequent")
imputer.fit(df4[["Ulke"]])
df4["Ulke"] = imputer.transform(df4[["Ulke"]])
imputer.fit(df4[["Cinsiyet"]])
df4["Cinsiyet"] = imputer.transform(df4[["Cinsiyet"]])
df4

         Ulke Cinsiyet    Gelir   Yas  MemTip
0   İngiltere    Kadın  20000.0   NaN       1
1   İngiltere    Erkek  15000.0  32.0       2
2   İngiltere    Erkek  23000.0   NaN       3
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
5   İngiltere    Erkek  23000.0  12.0       3
6     Almanya    Kadın  20000.0  45.0       1
7     Turkiye    Erkek  18000.0   NaN       2
8   İngiltere    Erkek  23000.0  12.0       3
9     Almanya    Kadın      NaN  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
11  İngiltere    Erkek  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13  İngiltere    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15  İngiltere    Erkek  22000.0  45.0       1
16  İngiltere    Erkek  23000.0  12.0       3
17    Almanya    Kadın      NaN  45.0       1
18  İngiltere    Kadın  15000.0  46.0       2
19  İngiltere    Erkek      NaN   NaN       3
20    İspanya    Erkek      NaN  32.0       1
21  İngiltere    Erkek  22000.0  32.0       1
22    İspanya    Erkek  22000.0  32.0       1
23  İngiltere    Erkek  22000.0  45.0       1

In [141]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df4["EnUlke"] = le.fit_transform(df4["Ulke"])
df4["EnCinsiyet"] = le.fit_transform(df4["Cinsiyet"])
df4[["Ulke","Cinsiyet","EnUlke","EnCinsiyet"]]

         Ulke Cinsiyet  EnUlke  EnCinsiyet
0   İngiltere    Kadın       4           1
1   İngiltere    Erkek       4           0
2   İngiltere    Erkek       4           0
3     Turkiye    Kadın       3           1
4      Fransa    Erkek       2           0
5   İngiltere    Erkek       4           0
6     Almanya    Kadın       0           1
7     Turkiye    Erkek       3           0
8   İngiltere    Erkek       4           0
9     Almanya    Kadın       0           1
10  Avusturya    Kadın       1           1
11  İngiltere    Erkek       4           0
12    İspanya    Erkek       5           0
13  İngiltere    Erkek       4           0
14    İspanya    Erkek       5           0
15  İngiltere    Erkek       4           0
16  İngiltere    Erkek       4           0
17    Almanya    Kadın       0           1
18  İngiltere    Kadın       4           1
19  İngiltere    Erkek       4           0
20    İspanya    Erkek       5           0
21  İngiltere    Erkek       4           0
22    İspanya    Erkek       5           0
23  İngiltere    Erkek       4           0

In [158]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
itr_imp = IterativeImputer()
itrDf = pd.DataFrame(itr_imp.fit_transform(df4[["EnUlke","EnCinsiyet","Gelir","Yas"]]))
df4["Yas"] = itrDf.loc[:,3].astype(int)
df4["Gelir"] = itrDf.loc[:,2]

In [172]:
df4["Gelir"] =  np.round(df4["Gelir"],2)

In [170]:
# %%timeit
# round(df["Gelir"],2)

42.7 µs ± 840 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [171]:
# %%timeit
# np.round(df4["Gelir"],2)

54.1 µs ± 1.22 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [175]:
df4.drop(["EnUlke","EnCinsiyet"],axis=1,inplace=True)

In [176]:
df4.to_csv(r"E:\Projelerim\IntroductionDL_1408\Documents\Preprocessing\data\samplebosyok.csv",index=False)