In [58]:
import pandas as pd

# Etiket Verisinin Özelliklerden Ayrılması

In [59]:
df = pd.read_csv(r"E:\Projelerim\IntroductionDL_1408\beginner_datasets\heart.csv")
df

,AGE_50,MD_50,SBP_50,DBP_50,HT_50,WT_50,CHOL_50,SES,CL_STATUS,MD_62,SBP_62,DBP_62,CHOL_62,WT_62,IHD_DX,DEATH
0,42,1,110,65,64,147,291,2,8,4,120,78,271,146,2,1
1,53,1,130,72,69,167,278,1,6,2,122,68,250,165,9,1
2,53,2,120,90,70,222,342,4,8,1,132,90,304,223,2,1
3,48,4,120,80,72,229,239,4,8,2,118,68,209,227,3,1
4,53,3,118,74,66,134,243,3,8,5,118,56,261,138,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,50,1,115,80,66,148,300,2,8,1,115,65,273,152,0,0
196,23,1,110,70,69,137,120,3,8,2,112,76,198,153,0,0
197,20,3,130,80,66,150,210,5,0,1,130,85,274,158,0,0
198,46,3,140,84,66,138,130,4,6,2,148,88,160,157,0,0
199,36,1,100,70,70,157,260,3,8,3,120,86,251,152,0,0

In [60]:
y = df["DEATH"].values # LABEL
X = df.drop("DEATH",axis=1).values # FEATURES

In [61]:
df.DEATH.value_counts()

0    136
1     64
Name: DEATH, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=40,stratify=y)

In [66]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [68]:
pd.DataFrame(X_train)

     0   1    2   3   4    5    6   7   8   9    10   11   12   13  14
0    29   3  148  98  69  203  260   5   8   2  150  110  245  194   0
1    46   1  110  70  67  159  271   3   8   3  152   88  299  164   6
2    61   1  150  90  69  142  247   3   6   2  150   90  218  174   0
3    41   2  142  96  66  145  300   2   8   4  148   88  315  143   0
4    47   3  130  95  64  163  280   4   8   1  130   70  190  152   0
..   ..  ..  ...  ..  ..  ...  ...  ..  ..  ..  ...  ...  ...  ...  ..
155  44   1  125  90  65  156  439   1   8   1  130   80  342  152   2
156  33   1  130  90  68  200  188   3   8   4  125   70  210  191   7
157  35   1  124  90  68  189  320   3   8   4  138   88  338  201   0
158  62   2  100  65  69  141  224   3   8   2  170   78  242  125   0
159  49   1  120  80  68  194  263   3   8   1  178   76  230  196   9

[160 rows x 15 columns]

In [67]:
pd.DataFrame(X_train_scaled,)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-1.659132,0.674157,1.449818,1.510779,0.327085,1.388555,-0.005058,2.089035,0.290358,-0.281792,0.334582,2.019660,-0.210059,1.028773,-0.599047
1,-0.043364,-1.342014,-0.895817,-1.315230,-0.410008,-0.296864,0.188484,0.162547,0.290358,0.537967,0.417515,0.264301,0.976934,-0.090219,1.777337
2,1.382313,-1.342014,1.573273,0.703348,0.327085,-0.948048,-0.233790,0.162547,-1.605857,-0.281792,0.334582,0.423879,-0.803556,0.282778,-0.599047
3,-0.518590,-0.333928,1.079455,1.308922,-0.778554,-0.833133,0.698732,-0.800696,0.290358,1.357725,0.251649,0.264301,1.328636,-0.873513,-0.599047
4,0.051681,0.674157,0.338728,1.207993,-1.515646,-0.143644,0.346837,1.125791,0.290358,-1.101551,-0.494746,-1.171901,-1.419034,-0.537815,-0.599047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,-0.233455,-1.342014,0.030092,0.703348,-1.147100,-0.411778,3.144403,-1.763940,0.290358,-1.101551,-0.494746,-0.374011,1.922132,-0.537815,0.193081
156,-1.278951,-1.342014,0.338728,0.703348,-0.041461,1.273640,-1.271881,0.162547,0.290358,1.357725,-0.702078,-1.171901,-0.979407,0.916874,2.173400
157,-1.088861,-1.342014,-0.031635,0.703348,-0.041461,0.852286,1.050627,0.162547,0.290358,1.357725,-0.163015,0.264301,1.834207,1.289871,-0.599047
158,1.477358,-0.333928,-1.513089,-1.819874,0.327085,-0.986353,-0.638470,0.162547,0.290358,-0.281792,1.163911,-0.533589,-0.276003,-1.544908,-0.599047
159,0.241771,-1.342014,-0.278544,-0.305941,-0.041461,1.043810,0.047726,0.162547,0.290358,-1.101551,1.495642,-0.693167,-0.539780,1.103372,2.965528